* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Header
@import 'partials/header';

// Homepage
@import 'partials/jumbotron';
@import 'partials/posts';
@import 'partials/footer';

body {
    background-color: #000;
}

#create-posts {
    margin: 70px;
}